.title-input {
  width: 100%;
  display: block;
  padding: 20px 10px;
  border-radius: 10px;
  border: none;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
  color: purple;
}

.title-input::placeholder {
  color: rgba(117, 6, 117, 0.434);
}

.title-input:focus {
  outline: 3px solid rgba(117, 6, 117, 0.434);
}

.body-input {
  width: 100%;
  max-width: 100%;
  display: block;
  padding: 20px 10px;
  border-radius: 10px;
  border: none;
  font-size: 24px;
  margin-bottom: 20px;
  color: purple;
}

.body-input::placeholder {
  color: rgba(117, 6, 117, 0.434);
}

.body-input:focus {
  outline: 3px solid rgba(117, 6, 117, 0.434);
}
