.input-label {
  display: block;
  margin-bottom: 5px;
}

.input-unique {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid purple;
  font-size: 16px;
  outline: none;
  margin-bottom: 20px;
}
